{
    "core": {
        "logLevel": "DEBUG",
        "environment": "development"
    },
    "features": {
        "ControllerOne": {
            "module": "core",
            "class": "coreController",
            "IMqttClient": {
                "feature": "BrokerOne",
                "reconnectPeriod": 5000,
                "cert": "config/certs/controllerOne.crt",
                "key": "config/certs/controllerOne.key",
                "rejectUnauthorized": false
            },
            "ITcpServer": {
            },
            "add-ons": {
                "pidUsage": {
                    "module": "@iztiar/iztiar-pidusage"
                }
            }
        },
        "BrokerOne": {
            "module": "@iztiar/iztiar-broker",
            "IMqttServer": {
                "certs": {
                    "rootCA": "config/certs/ca.crt",
                    "server": {
                        "cert": "config/certs/brokerOne.crt",
                        "key": "config/certs/brokerOne.key"
                    }
                }
            },
            "IMqttClient": {
                "host": "xps13.trychlos.lan",
                "cert": "config/certs/controllerOne.crt",
                "key": "config/certs/controllerOne.key",
                "rejectUnauthorized": false
            },
            "ITcpServer": {
            },
            "add-ons": {
                "pidUsage": {
                    "module": "@iztiar/iztiar-pidusage"
                }
            }
        },
        "RestMain": {
            "module": "@iztiar/iztiar-rest",
            "IMqttClient": {
                "feature": "BrokerOne",
                "reconnectPeriod": 5000
            }
        },
        "ControllerTwo": {
            "module": "core",
            "class": "coreController",
            "IMqttClient": {
                "feature": "BrokerOne",
                "reconnectPeriod": 5000,
                "cert": "config/certs/controllerOne.crt",
                "key": "config/certs/controllerOne.key",
                "rejectUnauthorized": false
            },
            "ITcpServer": {
                "port": 24004
            },
            "add-ons": {
                "pidUsage": {
                    "module": "@iztiar/iztiar-pidusage"
                }
            }
        },
        "ControllerThree": {
            "module": "core",
            "class": "coreController",
            "IMqttClient": {
                "feature": "BrokerOne",
                "reconnectPeriod": 5000,
                "cert": "config/certs/controllerOne.crt",
                "key": "config/certs/controllerOne.key",
                "rejectUnauthorized": false
            },
            "ITcpServer": {
                "port": 24005
            }
        },
        "ControllerFour": {
            "module": "core",
            "class": "coreController",
            "IMqttClient": {
                "feature": "BrokerOne",
                "reconnectPeriod": 5000
            },
            "ITcpServer": {
                "port": 24006
            }
        },
        "ControllerFive": {
            "module": "core",
            "class": "coreController",
            "IMqttClient": {
                "feature": "BrokerOne",
                "reconnectPeriod": 5000
            },
            "ITcpServer": {
                "port": 24007
            }
        },
        "mySensorsGateway": {
            "module": "@iztiar/iztiar-mysensors",
            "IMqttClient": {
                "feature": "BrokerOne",
                "reconnectPeriod": 5000
            },
            "ITcpServer": {
            }
        }
    }
}
