{
    "core": {
        "logLevel": "DEBUG",
        "environment": "development",
        "rootCA": "config/certs/ca.crt",
        "database": {
        }
    },
    "features": {
        "ControllerOne": {
            "module": "core",
            "class": "coreController",
            "IMqttClient": {
                "feature": "BrokerOne",
                "cert": "config/certs/controllerOne.crt",
                "key": "config/certs/controllerOne.key",
                "options": {
                    "reconnectPeriod": 5000
                },
                "alive": {
                    "publish": true
                }
            },
            "ITcpServer": {
            },
            "add-ons": {
                "pidUsage": {
                    "module": "@iztiar/iztiar-pidusage"
                }
            }
        },
        "BrokerOne": {
            "module": "@iztiar/iztiar-broker",
            "IMqttServer": {
                "host": "xps13.trychlos.lan",
                "options": {
                    "tls": {
                        "cert": "config/certs/brokerOne.crt",
                        "key": "config/certs/brokerOne.key",
                        "rejectUnauthorized": false
                    }
                }
            },
            "IMqttClient": {
                "feature": "BrokerOne",
                "cert": "config/certs/controllerOne.crt",
                "key": "config/certs/controllerOne.key",
                "options": {
                    "reconnectPeriod": 5000
                },
                "alive": {
                    "publish": true
                }
            },
            "ITcpServer": {
            },
            "add-ons": {
                "pidUsage": {
                    "module": "@iztiar/iztiar-pidusage"
                }
            }
        },
        "RestMain": {
            "module": "@iztiar/iztiar-rest",
            "IMqttClient": {
                "feature": "BrokerOne",
                "cert": "config/certs/RestMain.crt",
                "key": "config/certs/RestMain.key",
                "options": {
                    "reconnectPeriod": 5000
                },
                "alive": {
                    "publish": true
                }
            },
            "ITcpServer": {
            },
            "Rest": {
            },
            "add-ons": {
                "pidUsage": {
                    "module": "@iztiar/iztiar-pidusage"
                }
            }
        },
        "ControllerTwo": {
            "module": "core",
            "class": "coreController",
            "IMqttClient": {
                "feature": "BrokerOne",
                "cert": "config/certs/controllerOne.crt",
                "key": "config/certs/controllerOne.key",
                "alive": {
                    "publish": true
                }
            },
            "ITcpServer": {
                "port": 24004
            },
            "add-ons": {
                "pidUsage": {
                    "module": "@iztiar/iztiar-pidusage"
                }
            }
        },
        "ControllerThree": {
            "module": "core",
            "class": "coreController",
            "IMqttClient": {
                "feature": "BrokerOne",
                "cert": "config/certs/controllerOne.crt",
                "key": "config/certs/controllerOne.key",
                "alive": {
                    "publish": true
                }
            },
            "ITcpServer": {
                "port": 24005
            }
        },
        "ControllerFour": {
            "module": "core",
            "class": "coreController",
            "IMqttClient": {
                "feature": "BrokerOne",
                "alive": {
                    "publish": true
                }
            },
            "ITcpServer": {
                "port": 24006
            }
        },
        "ControllerFive": {
            "module": "core",
            "class": "coreController",
            "IMqttClient": {
                "feature": "BrokerOne",
                "options": {
                    "reconnectPeriod": 5000
                },
                "alive": {
                    "publish": true
                }
            },
            "ITcpServer": {
                "port": 24007
            }
        },
        "mySensorsGw": {
            "module": "@iztiar/iztiar-mysensors",
            "mySensors": {
                "type": "mqtt"
            },
            "IMqttClient.devicesMqttBus": {
                "uri": "mqtt://pidom.trychlos.lan:1883",
                "topics": {
                    "fromDevices": "jeedomv4/mySensors/fromDevice",
                    "toDevices": "jeedomv4/mySensors/toDevice"
                },
                "options": {
                    "username": "dirwatch"
                }
            },
            "IMqttClient.iztiar": {
                "feature": "BrokerOne",
                "cert": "config/certs/mySensorsGw.crt",
                "key": "config/certs/mySensorsGw.key",
                "alive": {
                    "publish": true
                }
            },
            "ITcpServer": {
            },
            "add-ons": {
                "pidUsage": {
                    "module": "@iztiar/iztiar-pidusage"
                }
            }
        }
    }
}
